@import url("https://fonts.googleapis.com/css?family=Varela Round");
@import url("https://fonts.googleapis.com/css?family=Fredoka One");

:root {
  --primaryColor: #2c335e;
  --textColor: white;
  --border-radius: 0.3rem;
}

* {
  padding: 0;
  margin: 0;
}

main {
  font-family: "Varela Round", Sans-serif;
}

header {
  background-color: var(--primaryColor);
  color: white;
  padding: 20px;
  text-align: center;
  font-family: "Fredoka One", Sans-serif;
}

.tippy-box[data-theme~='error'] {
  background-color: #d44d35;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.tippy-box[data-theme~='error'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #d44d35;
}
.tippy-box[data-theme~='error'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #d44d35;
}
.tippy-box[data-theme~='error'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #d44d35;
}
.tippy-box[data-theme~='error'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #d44d35;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5em;
}

.welcome-screen {
  width: 62.5em;
  text-align: center;
}

.welcome-screen p {
  font-size: 20px;
}

.search-container {
  min-width: 15.5em;
  width: 20em;
  margin: 0 3em;
  margin-bottom: 3em;
}

.form-label {
  font-size: 34px;
}

.form-input {
  outline: none;
  border: none;
  font-size: 24px;
  padding: 5px;
  border: 2px solid #808080;
  border-radius: 10px;
  width: 100%;
}

.btn {
  font-size: 28px;
  background-color: var(--primaryColor);
  border-radius: 10px;
  padding: 10px;
  color: white;
  border: none;
  margin-top: 10px;
  width: 100%;
}

.recent-btn {
  font-size: 24px;
  background-color: #b4b4b4;
  border-radius: 10px;
  padding: 5px;
  color: white;
  border: none;
  margin-top: 10px;
  width: 100%;
}

.results-container {
  width: 62.5em;
}

.current-card {
  margin-bottom: 3em;
}

.forecast-header {
  font-weight: bold;
}

.recent-searches {
  border-top: 2px solid #b4b4b4;
  margin: 20px 0 20px 0;
  width: 100%;
}

.forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.forecast-card {
  margin-bottom: 1em;
  width: 12em;
}

.card-header {
  background-color: var(--primaryColor);
  color: white;
}

.card-header:first-child {
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
}

.card {
  border-radius: 0.75em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.hide {
  display: none;
}

@media screen and (max-width: 544px) {
  .forecast-header {
    text-align: center;
  }
}

